{{>partials/header}}

Opa {{name}} {{lastName}}, tudo bem?
{{#showOld}}
    Como vai a vida?
{{/showOld}}
{{^showOld}}
    Beleza?
{{/showOld}}

<h2>Inserir Usuarios</h2>
<form method="POST" action="/novousuario">
    <input type="name" name="name" placeholder="Digite o nome" /><br/><br/>
    <input type="number" name="age" placeholder="Digite a idade" /><br/><br/>
    <input type="submit" value="Inserir usuario" />
</form>

<hr/>
<h2>Usuarios do banco</h2>
<ul>
    {{#users}}
        <li>
            {{name}} (Primeira letra: {{firstLetterOfName}})
            - Idade: {{age}} 
            - <a href="/usuario/{{id}}/mais">+</a>
            - <a href="/usuario/{{id}}/menos">-</a>
            - <a href="/usuario/{{id}}/excluir">Excluir</a>
        </li>
    {{/users}}
</ul>




<hr/>
<h2>Produtos</h2>
<ul>
    {{#products}}
        {{>partials/productItem}}
    {{/products}}
</ul>

<hr/>
<h2>Produtos a partir de R$ 12</h2>
<ul>
    {{#expensives}}
        {{>partials/productItem}}
    {{/expensives}}
</ul>

<hr/>

<ul>
    {{#frasesDoDia}}
        <li>{{.}}</li>
    {{/frasesDoDia}}
    {{^frasesDoDia}}
        Não há frases motivacionais hoje.
    {{/frasesDoDia}}
</ul>

{{>partials/footer}}